<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/review.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    <nav>
        <a class="logo-container" href="index.html">
            <span class="material-symbols-outlined logo">
                lunch_dining
            </span>
        </a>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/menu">Menu</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/about">About</a></li>
        </ul>
        {% if user.is_authenticated %}
            <a>
                <span class="material-symbols-outlined account_circle">
                account_circle
                </span>
            </a>
        {% else %}
            <a class="signup" href="/signup">Sign Up</a>
        {% endif %}
    </nav>
    <div class="row">
        {% if max_id_query[-1] %}
        <div class="col">
            <span class="material-symbols-outlined account_circle">
            account_circle
            </span>
            <div class="name">{{name}}</div>
            <div class="message">{{message}}</div>
        </div>
        {% endif %}
        {% if max_id_query[-1] - 1 %}
        <div class="col">
            <span class="material-symbols-outlined account_circle">
            account_circle
            </span>
            <div class="name">{{before_message_with_max_id.name}}</div>
            <div class="message">{{before_message_with_max_id.message}}</div>
        </div>
        {% endif %}
    </div>
    <script src="../static/script.js"></script>
    
</body>
</html>