@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Nunito+Sans:opsz@6..12&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.offscreen{
    position: absolute;
    left: -10000px;
}

.nowrap{
    white-space: nowrap;
}

img{
    width: 100%;
    height: auto;
}

input, 
textarea,
button{
    font: inherit;
}

/* VARIABLES */

:root{
    --ff: 'Nunito Sans', sans-serif;
    --ff-headings: "Fugaz One", sans-serif;
    --fs: clamp(1rem, 2.2vh, 1.2rem);

    /* COLOR */

    --color: white;
    --link-color: white;
    --link-hover: orange;
    --border: 2px solid orange;
    --button-hover: black;
    --col-bgcolor: orange;
    --col-bdcolor: rgb(184, 0, 0);
    --dark-red: rgb(184, 0, 0);
    --nav-bg-color: rgb(184, 0, 0);
}

/* GENERAL */

html{
    scroll-behavior: smooth;
    font-family: var(--ff);
    font-size: var(--fs);
}

body{
    overflow: hidden;
}

body{
    background-image: linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)),  /* use linear-gradient before url() */
                      url(../img/burger_banner.jpg);
    background-size: 100vw 100vh;       /* cover doesn't cover the whole viewport */
    background-repeat: no-repeat;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--nav-bg-color);
    padding: 1rem 2em;
    position: sticky;
    top: 0;
    z-index: 1;
}

.logo{
    position: relative;
    top: -1px;
    transform: scale(2);
}

.logo:hover{
    color: orange;
}

ul{
    list-style-type: none;
    display: flex; 
    justify-content: space-evenly;
    width: 60%;
    margin-left: 3rem;
}

a:any-link{
    color: var(--link-color);
}

nav ul li a:hover,
nav ul li a:focus-visible{

    color: var(--link-hover); 
}

.signup{
    text-decoration: none;
    padding: 0.5rem 1rem;
    border: 2px solid orange;
    border-radius: 1rem;
}

.signup:hover{
    background-color: orange;
    color:rgb(184, 0, 0);
}

.account_circle{
    color: white;
    transform: scale(2);
}

/* SECTION */

section{
    height: 100vh;
}

.section{
    height: calc(100vh - 3.5rem);
    position: relative;
    top: -60.687;
}

/* .section{
    padding-bottom: none;   not wor
} */

.section__div{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* .section__h1{
    margin-bottom: 1rem;            if you make this em, em will depend to the font-size below 
    font-size: 1800%;
    font-family: var(--ff-headings);
    color: orange
} */

.section__h1{           
    font-size: 1800%;
    font-family: var(--ff-headings);
    color: orange;
}

.section__p {
    color: rgb(184, 0, 0);
}

.section__p__span1{
    color: var(--dark-red);
    font-weight: 800;
    font-size: 1.3rem;
}

nav a span{
    transform: scale(2);
    margin-top: 5px;
}

#order{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 1rem 2rem;
    border-radius: 1rem;
    font-size: var(--fs);
    font-weight: bold;
    letter-spacing: 0.1em;
    border: 2px solid orange;
    color: var(--dark-red);
    text-decoration: none;
    background-color: transparent;
}

#order:hover{
    transition: 0.5s;
    color: orange;
    background-color: var(--dark-red);
    border: none;
}

/* SECTION 1 */

.section1{
    padding-top: 5rem;
    background-color: orange; 
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    position: relative;
}

.section1__row{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 1.5rem;
    gap: 3rem;
    padding: 3rem;
}

.section1__col{
    padding: 2rem 1rem;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section1__img{
    margin-bottom: 1rem;
    transition: 0.5s;
}

.section1__img:hover{
    transform: scale(1.05);
}

.section1__p{
    margin-bottom: 1rem;
}

.price{
    margin-bottom: 1rem;
    color: white;
}
.input-container{
    border: 2px solid white;
    border-radius: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    left: 9rem;
    width: 8rem;
}

.material-symbols-outlined {
  cursor: pointer;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.item_no{
    color: var(--dark-red);
}

.add-to-cart{
    position: absolute;
    top: 110%;
    left: 47.5%;
    transform: translate(-50%, -50%);
    transform: scale(2);
}

.add-to-cart:hover{
    transition: 0.5s;
    color: white;
}

/* .item_no{
    margin-top: 3rem;
    font: inherit;
    border: none;
    border-radius: 1rem;
    text-align: center;
}

.item_no::-webkit-outer-spin-button,
.item_no::-webkit-inner-spin-button{
    -webkit-appearance: none;
} */

/* SECTION 2 */

.section2{
    display: flex;
    justify-content: center;
    position: relative;
    background-image: linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)),  /* use linear-gradient before url() */
                      url(../../img/burger-about-banner.jpg);
    background-size: 100vw 100vh;       /* cover doesn't cover the whole viewport */
    background-repeat: no-repeat;
}


.section2 h1{
    position: absolute;
    top: 5rem;
    font-size: 3rem;
    letter-spacing: 0.2rem;
}

.us{
    color: white;
    text-shadow: 0 0 4px black;
}

.section2-article{
    padding: 6rem 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section2__div{
    width: 47%;
}

.section2__p{
    margin: 1rem;
}

.contact-label{
    display: block;
    margin-bottom: 1rem;
    color: var(--dark-red);
    font-weight: bold;
}

.contact-input{
    padding: 0.5rem;
    border-radius: 1rem;
    border: 2px solid orange;
    width: 100%;
    caret-color: #ffa500;
}

.contact-input:focus-visible{
    outline: 2px solid orange;
}

.contact-input::placeholder{
    color: var(--dark-red);
}

.contact-button-container{
    width: 100%;
    text-align: center;
    margin-top: 3rem;
}

#contact-button{
    color: var(--dark-red);
    text-decoration: none;
    padding: 0.5rem 1rem;
    border: 2px solid orange;
    border-radius: 1rem;
    font-weight: bold;
}

#contact-button:hover{
    background-color: var(--dark-red);
    border: none;
    color: orange;


    transition: 0.5s;
    cursor: pointer;
}

@keyframes visible{
    0%{
        top: 0%;
        opacity: 0;
    }

    30%{
        top: 50%;
        opacity: 1;
    }

    70%{                                             
        top: 50%;
        opacity: 1;
    }

    100%{
        top: -10%;
        opacity: 1;

    }
}

.form-submitted{
    position: absolute;
    top: 0%;
    opacity: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    border-radius: 1rem;
    background-color: orange;
    color: white;
    font-weight: bold;
    text-align: center;
    box-shadow: 0 0 5px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    animation: visible 1.5s ease-in-out 7s;
}



/* .popup{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    padding: 0.5rem 1rem 1rem;
    border-radius: 1rem;
    background-color: orange;
    color: white;
    font-weight: bold;
    text-align: center;
    box-shadow: 0 0 5px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out,
                top 0.5s ease-in-out,
                transform 0.5s ease-in-out;
}

.popup span{
    margin-bottom: 0.5rem;
}

.popup .active{
    opacity: 1;
    top: 50%;
    transform: scale(1);
} */



/* .form-submitted .active{
    opacity: 1;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 300ms cubic-bezier(0.18, 0.89, 0.43, 1.19);
}

.form-submitted span{
    transform: scale(1.4);
    margin-bottom: 1rem;
}

.form-submitted a{
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: white;
    color: black;
    border-radius: 1rem;
    text-decoration: none;
}  */

/* SECTION 3 */

.dropdown{
    position: absolute;
    right: 1rem;
    display: flex;
    flex-direction: column;
    border: 2px solid orange;
    padding: 1rem;
    color: black;
    display: none;
}

.dropdown a:any-link{
    color: black;
} 

.name{
    font-weight: bold;
}

.my-ordered{
    padding: 1rem 0;
}

.logout{
    color: black;
    text-decoration: none;
}

.logout:any-link{
    color: black;
}