@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Nunito+Sans:opsz@6..12&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.offscreen{
    position: absolute;
    left: -10000px;
}

.nowrap{
    white-space: nowrap;
}

img{
    width: 100%;
    height: auto;
}

input, 
textarea,
button{
    font: inherit;
}

/* VARIABLES */

:root{
    --ff: 'Nunito Sans', sans-serif;
    --ff-headings: "Fugaz One", sans-serif;
    --fs: clamp(1rem, 2.2vh, 1.2rem);

    /* COLOR */

    --color: white;
    --link-color: white;
    --link-hover: orange;
    --border: 2px solid orange;
    --button-hover: black;
    --col-bgcolor: orange;
    --col-bdcolor: rgb(184, 0, 0);
    --dark-red: rgb(184, 0, 0);
    --nav-bg-color: rgb(184, 0, 0);
}

/* GENERAL */

html{
    scroll-behavior: smooth;
    font-family: var(--ff);
    font-size: var(--fs);
}

body{
    overflow: hidden;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--nav-bg-color);
    padding: 0.8rem 2em;
    position: sticky;
    top: 0;
    z-index: 1;
}

.logo{
    position: relative;
    top: 2px;
    transform: scale(2);
}

.logo:hover{
    
    color: orange;
}

ul{
    list-style-type: none;
    display: flex; 
    justify-content: space-evenly;
    width: 60%;
    margin-left: 3rem;

}

a:any-link{
    color: var(--link-color);
}

nav ul li a:hover,
nav ul li a:focus-visible{

    color: var(--link-hover); 
}

.signup{
    text-decoration: none;
    padding: 0.5rem 1rem;
    border: 2px solid orange;
    border-radius: 1rem;
}

.signup:hover{
    background-color: orange;
    color:rgb(184, 0, 0);
}

.account_circle{
    color: black;
}

.row {
    display: flex;
    justify-content: space-around;
}

.col {
    background-color: orange; 
    justify-content: space-around;
    padding: 1rem;
    gap: 3rem;
}
